:root {
    --bg-color: #EBE6E2;
    --text-color: #333333;
    --CV-btn-color: #DEEFFF;
    --overlay-color: #E3DED9;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-color: var(--bg-color);
}

.wrapper {
    max-width: 1288px;
    margin: 0 auto;
}

/*? HEADER */

header {
    background: var(--bg-color);
    height: 100vh;
    width: 100%;
}

nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
    grid-column: span 12;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0.1px;
    background: var(--bg-color);
    border-radius: 30px;
}

nav .logo {
    font-family: "Roboto Mono", sans-serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -15px;
    color: #333333;
    grid-column: 1/3;
}

nav .light-btn {
    padding-top: 10px;
    padding-left: 0px;
    grid-column: 12;
    justify-content: flex-end;
}

nav .light {
    width: 60px;
    height: 60px;
}

nav .menu-btn {
    padding-left: px;
    grid-column: -1;
    justify-content: flex-end;
    /* width: 1288px;
    top: 36px;  */
}

nav .menu-bar {
    width: 60px;
    height: 60px;
}

nav ul {
    padding: 16px 50px;
    background: var(--overlay-color);
    border-radius: 40px;
    grid-column: 4/11;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    list-style: none;
}

nav ul li a {
    color: #333333;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}


/*? END OF HEADER */

/** HERO */
/** Left-side */

.hero-section {
    padding-top: 55px;
    display: flex;
    height: 100 vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.hero-section .left h1 {
    color: #333;
    text-align: center;
    font-family: "Roboto Mono", sans-serif;
    font-size: 90px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -4.5px;
    margin-bottom: 0;
    margin-left: 70px;
}

.hero-section .left p {
    color: #454443;
    font-family: "Roboto Mono", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    align-self: center;
    padding-left: 55px;
}

.hero-section .left .hero-line {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 16px 32px;
    border-radius: 40px;
    box-shadow: 10px 10px;
    color: #333333;
    display: inline-block;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    background: var(--CV-btn-color);
    vertical-align: middle;
}

.hero-section .left .qr {
    width: 20%;
    padding-left: 50px;
    padding-top: 0px;
    vertical-align: middle;
}

/** Right-Side */
/** img: */
.hero-section .right .me {
    padding-top: 75px;
}

.hero-section .right .me .me-pic {
    /* width: 595px;
    height: 527px; */
    width: 500px;
    height: 442px;
    vertical-align: middle;
    border-radius: 30px;
}

/*? ABOUT ME  */

.about-me {
    display: flex;
    align-items: center;
    gap: 77px;
    padding-top: 20px;
    background: var(--bg-color);

}

.about-me .left .img-2 {
    width: 585px;
    height: 517px;
    border-radius: 30px;
}

.about-me .right h2 {
    font-family: "Roboto Mono", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    color: #333;
}

.about-me .right p {
    color: #454443;
    font-family: Raleway;
    font-size: 25px;
    font-weight: 300;
    line-height: normal;
}

/*? PROJECTS */
.project-section {
    margin-top: 250px;
    margin-bottom: 200px;
}

.project-section .title {
    margin-bottom: 60px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: .2rem;
    color: #333333;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects .cards-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.project-card {
    width: 412px;
    height: 270px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: end;
    border-radius: 8px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    /* box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.5); */
    transition: 0.5s ease-in-out;
}

.project-card:hover {
    transform: translateY(20px);
}

.project-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgba(176, 0, 0, 0.5), rgb(201, 154, 61));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.project-card:hover:before {
    opacity: 1;
}

/** Re-size imgs */
.project-card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.project-card .card-info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.project-card:hover .card-info {
    opacity: 1;
    transform: translateY(0px);
}

.project-card .card-info h2 {
    margin: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.project-card .card-info p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 20px;
}

/** Links  */
.project-card .card-info .view {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    background: #fff;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.project-card .card-info .view:hover {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.project-card .card-info .github-icon {
    width: 30px;
    height: 20px;
    padding: 0.5rem 1rem;
    margin-left: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    position: relative;
}

.github-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*? LANGUAGES */

.languages-section {
    padding-top: 70px;
    margin-bottom: 50px;
    height: 700px;
    width: 100%;
}

.languages-section .title {
    margin-top: 60px;
    padding-bottom: 100px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .2rem;
    color: #333333;
}

.languages {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.languages .lang {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: 0.5s ease-in-out;
}

.lang:hover {
    transform: translateY(8px);
}

.lang p {
    position: relative;
    z-index: 3;
    color: #333;
    opacity: 0;
    font-family: "Raleway", sans-serif;
    /* transform: translateY(8px); */
    transition: 0.5s all;
}

.lang:hover p {
    opacity: 1;
    transform: translateY(0px)
}

hr {
    border: none;
    height: 5px;
    background: var(--overlay-color);
    border-radius: 10px;
}

/* ? CONTACTS */
.contact-container {
    height: 60vh;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}

.contact-left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-family: "Roboto Mono", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #333;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 300;
    color: #333;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid #efd5ab;
}

.contact-left textarea {
    height: 140px;
    padding-top: 25px;
    border-radius: 20px;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(270deg, #ffd3ad, #fab86d);
    cursor: pointer;
}

.contact-left button img {
    height: 15px;
}


/** Contacts right section  */
.contact-right-title h2 {
    font-family: "Roboto Mono", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #333;
}

.contacts .contact {
    display: flex;
    /* justify-content: space-between; */
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    height: 40px;
    width: 100%;
}

.contact img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.links {
    margin-top: 50px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: start;
    gap: 20px;
    height: 40px;
    width: 100%;
}

.links .link {
    width: 40px;
    height: 40px;
}

.links .link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*? FOOTER */

footer {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    position: relative;
    background: var(--overlay-color);
    color: #333;
    text-align: center;
}